In [1]:
import os
import ipywidgets as widgets
from ipywidgets import interact, interact_manual
from IPython.display import Image

@interact
def show_images(file=os.listdir('./')):
    display(Image('./'+file))

aW50ZXJhY3RpdmUoY2hpbGRyZW49KERyb3Bkb3duKGRlc2NyaXB0aW9uPXUnZmlsZScsIG9wdGlvbnM9KCdkZXB0aC1wcmVkaWN0ZWQtNTEucG5nJywgJ2RlcHRoLXByZWRpY3RlZC00NS5wbmfigKY=

In [2]:
import os
import pymysql
import pandas as pd
host = 'localhost'
port = 3306
user = 'root'
password = os.getenv('MYSQL_PASSWORD')
database = 'money'

In [3]:
conn = pymysql.connect(
    host=host,
    port=port,
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='whitegrid')

In [5]:
df = pd.read_sql_query(
    """
    select GOLD.day, 
           GOLD.open as go, 
           SILVER.open as so, 
           GOLD.open/SILVER.open as ratio, 
           GOLD.open_interest as g_int, 
           SILVER.open_interest as s_int 
           FROM ( select name, day, open, open_interest from comm_daily where name='GC' ) GOLD 
           JOIN ( select name, day, open, open_interest from comm_daily where name='SI') SILVER 
           ON SILVER.day=GOLD.day
    """
    ,
    conn
)
df.head()

          day      go    so      ratio   g_int  s_int
0  2000-01-03  288.00  5.40  53.333332  158543  76395
1  2000-01-04  288.50  5.39  53.525048  155835  72777
2  2000-01-05  281.25  5.32  52.866540  135005  74093
3  2000-01-06  279.75  5.13  54.532163  158161  73036
4  2000-01-07  280.90  5.10  55.078431  143543  72511

In [6]:
@interact
def show_articles_more_than(column='go', price=1200):
    return df.loc[df[column] > price]

aW50ZXJhY3RpdmUoY2hpbGRyZW49KFRleHQodmFsdWU9dSdnbycsIGRlc2NyaXB0aW9uPXUnY29sdW1uJyksIEludFNsaWRlcih2YWx1ZT0xMjAwLCBkZXNjcmlwdGlvbj11J3ByaWNlJywgbWHigKY=

In [7]:
@interact
def plot_dataset(column='go', price=500):
    ds = df.loc[df[column] > price]
    sns.lineplot(ds['day'], ds[column], label='GOLD open price', color='gold')

aW50ZXJhY3RpdmUoY2hpbGRyZW49KFRleHQodmFsdWU9dSdnbycsIGRlc2NyaXB0aW9uPXUnY29sdW1uJyksIEludFNsaWRlcih2YWx1ZT01MDAsIGRlc2NyaXB0aW9uPXUncHJpY2UnLCBtYXjigKY=